<html>
  <head>
    <title>TestMe</title>
  </head>
  <body>
    <div class="current">
      <table>
	<tbody>
	  <tr>
	    <th>Table of Contents</th>
	    <th></th>
	  </tr>
	  <tr>
	    <td class="tocname">Overview</td>
	    <td class="tocnumber">iii</td>
	  </tr>
	  <tr>
	    <td class="tocname">Map</td>
 	    <td class="tocnumber">1</td>
	  </tr>
	  <tr>
	    <td class="tocname">Index</td>
	    <td class="tocnumber">${first_index_page}</td>
	  </tr>
	</tbody>
      </table>
    </div>

    <div class="white">
      AAA
    </div>
    
    <div class="current">
      <table>
	<tbody>
	  <tr>
	    <th>Map Settings</th>
	    <th></th>
	  </tr>
	  <tr class="striped"><td>Bounding box</td><td>${bbox}</td></tr>
	  <tr class="striped"><td>Layout</td><td>${layout}</td></tr>
	  <tr class="striped"><td>Stylesheet</td><td>${stylesheet}</td></tr>
	  <tr class="striped"><td>Overlays</td><td>${overlays}</td></tr>
	  <tr class="striped"><td>Imports</td><td>${imports}</td></tr>
	  <tr class="striped"><td>Indexer</td><td>${indexer}</td></tr>
	  <tr class="striped"><td>Paper format</td><td>${paper}</td></tr>
	  <tr class="striped"><td>Map locale</td><td>${locale}</td></tr>	  
	  <tr class="striped"><td>OSM data from</td><td>${data_date}</td></tr>	  
	  <tr class="striped"><td>Render date</td><td>${render_date}</td></tr>	  
	</tbody>
      </table>
    </div>
  </body>
</html>
